github "Alamofire/Alamofire" ~> 4.5
github "SnapKit/SnapKit" ~> 4.0.0
github "Moya/Moya"
github "Hearst-DD/ObjectMapper" ~> 2.2
github "onevcat/Kingfisher" ~> 4.0
github "SwiftyJSON/SwiftyJSON"
github "SwiftyBeaver/SwiftyBeaver"
github "malcommac/SwiftDate"
