<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lan</key>
		<string>All</string>
		<key>count</key>
		<string>999999</string>
	</dict>
	<dict>
		<key>lan</key>
		<string>ActionScript</string>
		<key>count</key>
		<string>0</string>
	</dict>
	<dict>
		<key>lan</key>
		<string>Assembly</string>
		<key>count</key>
		<string>0</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>C</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>C#</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>C++</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>Clojure</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>CoffeeScript</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>CSS</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>Go</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>Haskell</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>HTML</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>Java</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>JavaScript</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>Lua</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>Matlab</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>Objective-C</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>Perl</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>PHP</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>Python</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>R</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>Ruby</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>Scala</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>Shell</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>Swift</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>SQL</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>TeX</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>Vim</string>
	</dict>
	<dict>
		<key>count</key>
		<string>0</string>
		<key>lan</key>
		<string>Visual Basic</string>
	</dict>
</array>
</plist>
